<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="compHeader">
                Education
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12">
                    <mat-card>
                        <mat-card-actions *ngFor="let item of educations">
                            <img [src]="item.imagePath" alt="awsSolArchProf" class="img-fluid" height="70" width="70">
                            <div>{{item.name}}</div>
                            <div>{{item.desc}}</div>
                            <div>{{item.insName}}</div>
                            <div>With {{item.marks}}</div>
                            <div>{{item.span}}</div>                            
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
          </mat-expansion-panel>
    </div>
</div>