<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Education</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-xs-2 col-lg-2 align-middle">
        <img [src]="nsecPicSymbolPath" alt="nsecPic" class="symbol img-fluid">       
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1 align-middle">
        <img [src]="nsecSymbolPath" alt="nsecSymbol" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1 align-middle">
        <img [src]="wbutPicPath" alt="wbut" class="symbol img-fluid">
    </div>
    <div class="col-md-6 col-xs-6 col-lg-6 align-middle">
        <div> B.Tech in Electronics and Communication ( ECE )</div>
        <div>Netaji Subhash Enginerring College under West Bengal University of Technology (WBUT)</div>
        <div>With 7.83 DGPA i.e. 7.33 CGPA/73.3 %</div>
        <div>July 2006 - July 2010</div> 
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-4 col-lg-4 align-middle">
        <div>12th Higher Secondary</div>
        <div>Jadavpur Vidyapith</div>
        <div>72.4%</div>
        <div>June 2003 –  June 2005</div> 
    </div>
    <div class="col-md-4 col-xs-4 col-lg-4 align-middle">
        <img [src]="jvPicPath" alt="jv" class="symbol img-fluid">
        <img [src]="jvSymbolPath" alt="jv" class="symbol img-fluid">
    </div>
    <div class="col-md-4 col-xs-4 col-lg-4 align-middle">
        12th Higher Secondary From Subhasini Balika Shikhyalaya West Bengal Board [W.B.C.H.S.E.] With 59.8% Spanning 
        <div>June 2005 – June 2007</div> 
    </div>
</div>