<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="compHeader">
                <h1 class="mat-title">Arindam Dey</h1> 
              </mat-panel-title>
              <mat-panel-description>                
                              
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-3 col-xs-3 col-lg-3 backimagelogo">
                    <mat-card>
                        <mat-card-actions>
                          <img [src]="myPicPath" alt="Arindam Dey" class="img-fluid" height="250" width="250">
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-9 col-xs-9 col-lg-9">
                    <mat-card class="backimagelogo">
                        <mat-card-header>
                          <mat-card-title></mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                          <div class="row">
                            <div class="col-md-4 col-xs-4 col-lg-4">
                              <mat-icon svgIcon="email"></mat-icon>arindamdeyjob@gmail.com
                            </div> 
                            <div class="col-md-3 col-xs-3 col-lg-3">
                              <mat-icon svgIcon="mobile"></mat-icon>+91 9830609366
                            </div> 
                            <div class="col-md-5 col-xs-5 col-lg-5">
                              <a href="assets/files/job/Resume_Arindam_9830609366.docx">
                                <mat-icon svgIcon="resume"></mat-icon>
                                Download Resume</a>
                            </div>                              
                          </div>
                        </mat-card-actions>
                        <mat-card-actions>                          
                            <app-careerobjective></app-careerobjective>
                            <div class="col-md-12 col-xs-12 col-lg-12">
                              <a href="https://www.linkedin.com/in/arindamdeyjob/" target="_blank">
                                <img [src]="linkedinPicPath" alt="Arindam Dey" class="img-fluid" height="50" width="50">
                              </a>
                              <a href="https://en.gravatar.com/arindamdeyjob" target="_blank">
                                <img [src]="gravatarPicPath" alt="Arindam Dey" class="img-fluid" height="50" width="50">
                              </a>
                              <a href="https://twitter.com/arindamdeyinfo" target="_blank">
                              <img [src]="twitterPicPath" alt="Arindam Dey" class="img-fluid" height="50" width="50">
                            </a> 
                            <a href="https://freesearch.naukri.com/preview/preview?uname=111c188facda3bee5e070eced6940bb80a04490d1b41514e5e44310f005808160d5a4e5e6&sid=3930310757&LT=1588061216" target="_blank">
                              <img [src]="naukriPicPath" alt="Arindam Dey" class="img-fluid" height="50" width="50">
                            </a>                              
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
          </mat-expansion-panel>
    </div>
</div>
