<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Certifications</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <ul>
            <li>AWS Certified Solution Architect Professional</li>
            <li>Certified Technology Architect Associate by Accenture [Globally 6500+ professional]</li>
            <li>Advanced Professional Scrum Master (PSM 1 & 2) issued by Scrum.org [Worldwide 3000+ members for 30 years old framework ]</li>
            <li>Professional Scrum Product Owner (PSPO 1) issued by Scrum.org</li>
            <li>Certified SAFe® 4 Agilist issued by scaledagileframework.org</li>
            <li>Certified SAFe® 4 Practitioner issued by scaledagileframework.org</li>
        </ul>
    </div>
</div>