@using BusinessObjects.Common
@{
    Layout = null;
}
<ul>
    <li>
        Os: 
    </li>
    <li>
        Os Version:
    </li>
    <li>
        Browser Name: 
    </li>
    <li>
        Browser Major:
    </li>
    <li>
        Browser Version:
    </li>
    <li>
        Ip Address Internal:
    </li>
    <li>
        Ip Address external:
    </li>
    <li>
        Mac Address:
    </li>
    <li>
        userAgent:
    </li>
</ul>