@{
    Layout = null;
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 500px;
        width:1000px;
    }
</style>
<p id="locationText"></p>
<div data-lat="" data-lng="" data-info="" style="display:none" id="divData"></div>
<div id="content">
    You are here!
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA13qCpglQCSzEPK57P1r-C4CBU9e1pO5A&callback=initMap">
</script>
<script>
    function getLocation() {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            $('#locationText').html("Geolocation is not supported by this browser.");
        }
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                $('#locationText').html("Please allow Geolocation to continue.  Please try reloading the site and click on allow.");
                break;
            case error.POSITION_UNAVAILABLE:
                $('#locationText').html("Location information is unavailable. Please try reloading the site.");
                break;
            case error.TIMEOUT:
                $('#locationText').html("The request to get user location timed out. Please try reloading the site.");
                break;
            case error.UNKNOWN_ERROR:
                $('#locationText').html("An unknown error occurred. Please try reloading the site. If problem continues please contact administrator.");
                break;
        }
    }

    function showPosition(position) {
        $.ajax({
            url: '/Home/GetUserLocation',
            method: 'POST',
            data: { lat: position.coords.latitude, lng: position.coords.longitude, accuracy: position.coords.accuracy},
            success: function (data, textStatus, jqXHR) {
                //alert(data);
                //alert('You are at near "' + data + '" with accuracy level of ' + position.coords.accuracy + ' meters');
            },
            error: function (error, status, jqXHR) {
                //alert("error" + error);
            }
        });
    }
    function initMap() {
        getLocation();
    }
</script>
