<div class="row objective">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        Certified Technology Architect Associate; supports Architectural Runway in Full SAFe by Application, Integration, Solution Architecting. Certified SAFe® Agilist, Advanced Professional Scrum Master1(PSM 1 & 2), Professional Scrum Product Owner (PSPO 1).
    </div>
    <div class="col-md-12 col-xs-12 col-lg-12">
        ASP .NET Core, MVC with additional skills like Microservice, Azure DevOps Automation setup, AI with Python, Data Analytics using Splunk.
    </div>
    <div class="col-md-12 col-xs-12 col-lg-12">
        Seeking roles mainly in Cloud Architecture, Application, Solution Architecture, Angular, Azure, AWS, .NET Core, Microservice, MVC, Azure DevOps Automation setup, AI with Python, Data Analytics, Project Management, ScrumMaster Advanced, SAFe Agilist
    </div>
</div>
