<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Key Result Areas</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <ul>
            <li>Supporting Architectural runway in SAFe Enterprise level through contributing in Application, Integration, Solution Architecture</li>
            <li>Speciality in Cloud and Solution Level Architecture. Little hands on Enterprise Architecture</li>
            <li>Azure and Amazon [AWS] Cloud architecture</li>
            <li>Managing Azure setup, pricing Automated DevOps setup, Firewall as Azure Admin for the product platform</li>
            <li>Managing requirements, solution to customer and value delivery for whole Product platform</li>
            <li>Acting as Agile Transformation Lead within the organization, while implementing and socializing scrum to newly formed teams for various Agile Projects </li>
            <li>Assisting with backlog maintenance and leading the team through long-term roadmap exercises </li>
            <li>Forecasting long-term project deliverables through PI planning with internal & external communication as Agile Project Manager</li>
        </ul>
    </div>
</div>