/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.myPicContainer {
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
}

    .myPicContainer img {
        width:100%;
        max-width:100%
    }

.myLogoContainer {
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
}
    .myLogoContainer img {
        width: 100%;
        max-width: 100%
    }
.myBlueBack {
    /*background-color:cornflowerblue*/
    background-image: linear-gradient(to right, cornflowerblue, blue);
    border-radius:5px;
    width: 100%;
    max-width: 100%
}
.myBlueBack a {
    color:white;
    font-size:large;
    float: left;
    text-align: center;
    transition: all 0.3s ease;    
    margin-left: 13px;
}
    .myBlueBack a img {
        object-position: 50% 50%;
        width: 30px;
        height: 30px;
    }
.name {
    font-size: xx-large;
    z-index: 50;
    height: 42px;
    min-height: 42px;

}
