/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 70px 0;
    padding-bottom: 20px;
    font-family: "Lato";
}

.myPicContainer {
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
}

    .myPicContainer img {
        width:100%;
        max-width:100%
    }

.myLogoContainer {
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px 10px 5px;
}
    .myLogoContainer img {
        width: 100%;
        max-width: 100%
    }
.myBlueBack {
    background-image: linear-gradient(to right, cornflowerblue, blue);
    border-radius:5px;
    width: 100%;
    max-width: 100%
}
.myBlueBack a {
    color:white;
    font-size:large;
    float: left;
    text-align: center;
    transition: all 0.3s ease;    
    margin-left: 13px;
}
    .myBlueBack a img {
        object-position: 50% 50%;
        width: 30px;
        height: 30px;
    }
.name {
    font-size: xx-large;
    height: auto;

}
.resumeHeading {
    padding-left:20px;
    padding-bottom:10px;
    padding-top:10px;
    margin-top:14px;
    height: auto;
    background-color:lightgray;
    border-radius:5px;
    font-size:large;
}
.resumeHeading h2 {
    text-align: center;
}
.clientLogo{
    max-height:100px;
    max-width:200px;
    object-fit:cover;
    float:left;
    margin-left:20px;
    margin-top:10px;
    margin-right:20px;
}
.clientHeader{
    text-align:center;
}
.certificateLogo {
    width:100%;
    max-height: 400px;
    max-width: 600px;
    object-fit: cover;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.personalDetails{
    margin-top:20px;
    background-color:blue;
    color:white;
    border-radius:5px;
}
.certHeading {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 14px;
    height: auto;
    background-color: lightgray;
    border-radius: 5px;
    font-size: xx-large;
}
.certificateContainer {
    padding: 70px 0;
    font: 15px/20px Arial, sans-serif;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}
.certificatesDetails {
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(150deg, lightgray 0%, lightgray 50%, darkgrey 50%, darkgrey 100%);
}
.certCarousel{
    border-radius:5px;
}