<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <img [src]="saSymbolPath" alt="sa" class="img-fluid">
        <img [src]="spSymbolPath" alt="sp" class="img-fluid">
        <img [src]="techarchaccentureSymbolPath" alt="techarchaccenture" class="img-fluid">
        <img [src]="psm1SymbolPath" alt="psm1" class="img-fluid">
        <img [src]="psm2SymbolPath" alt="psm2" class="img-fluid">
        <img [src]="pspo1SymbolPath" alt="pspo1" class="img-fluid">
        <img [src]="awsSolArchProfSymbolPath" alt="awsSolArchProf" align="right" class="img-fluid" height="70" width="70">
    </div>
</div>