<br>
<div class="row">     
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="saSymbolPath" alt="sa" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="spSymbolPath" alt="sp" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="techarchaccentureSymbolPath" alt="techarchaccenture" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="psm1SymbolPath" alt="psm1" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="psm2SymbolPath" alt="psm2" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="pspo1SymbolPath" alt="pspo1" class="symbol img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1 alignright">
        <img [src]="awsSolArchProfSymbolPath" alt="awsSolArchProf" class="symbol img-fluid">
    </div>
</div>