<br>
<div class="row">     
    <div class="col-md-1 col-xs-1 col-lg-1">
        <img [src]="saSymbolPath" alt="sa" class="img-fluid">
        <img [src]="spSymbolPath" alt="sp" class="img-fluid">
        <img [src]="techarchaccentureSymbolPath" alt="techarchaccenture" class="img-fluid">
        <img [src]="psm1SymbolPath" alt="psm1" class="img-fluid">
        <img [src]="psm2SymbolPath" alt="psm2" class="img-fluid">
        <img [src]="pspo1SymbolPath" alt="pspo1" class="img-fluid">
    </div>
    <div class="col-md-1 col-xs-1 col-lg-1 alignright">
        <img [src]="awsSolArchProfSymbolPath" alt="awsSolArchProf" class=" img-fluid">
    </div>
</div>