<div class="objective">Certified Technology Architect Associate; supports Architectural Runway in Full SAFe by Application, Integration, Solution Architecting with the knowledge of Cloud Architecture as Certified AWS Certified Solution Architect Professional.
    ASP .NET MVC Core with additional skills like Azure DevOps Automation setup, AI with Python, Data Analytics using Splunk
    Certified SAFe® Agilist, Advanced Professional Scrum Master1(PSM 1 & 2), Professional Scrum Product Owner (PSPO 1)</div>
