.compHeader{
    color: darkgrey;
    text-align: left;
}
.logowrap{
    background-size: cover;    
}
.hideChildren>.children{
    display: none;
 }
 .linkit{
     color: blue;
 }
 .linkit:hover{
    color:blue;
    cursor: pointer;
}