<div class="container pt-3">
  <div class="row"> 
      <div class="col-xs-12 col-md-12">
        <app-cert-symbolsheader></app-cert-symbolsheader>
      </div>   
      <div class="col-xs-12 col-md-12">
          <app-header></app-header>
      </div>            
      <div class="col-xs-12 col-md-12">
        <app-profileshowcase></app-profileshowcase>
      </div> 
      <div class="col-xs-12 col-md-12">
        <app-experience></app-experience>
      </div>  
      <div class="col-xs-12 col-md-12">
        <app-highlights></app-highlights>
      </div>   
      <div class="col-xs-12 col-md-12">
        <app-achievements></app-achievements>
      </div>       
      <div class="col-xs-12 col-md-12">
          <app-education></app-education>
      </div>        
      <div class="col-xs-12 col-md-12">
          <app-certification></app-certification>
      </div> 
      <div class="col-xs-12 col-md-12">
          <app-techskills></app-techskills>
      </div>        
      <div class="col-xs-12 col-md-12">
          <app-coderepositories></app-coderepositories>
      </div> 
      <div class="col-xs-12 col-md-12">
        <app-aboutme></app-aboutme>
    </div>        
  </div>
</div>