<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Profile Summary</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-xs-9 col-lg-9">
        <ul>
            <li>9 years of rich experience of Application, Integration, Solution, Cloud Architecture with exposure in requirement gathering, analysis and design</li>
            <li>Vivid applicability knowledge in Azure and AWS architecture</li>
            <li>Mostly product platform and 8 MVC projects right from scratch also with ASP.NET MVC Core 3.1</li>
            <li>Resourceful in data processing with Python and build application AI, analyse & forecast client development as per business using Splunk as Automation tool</li>
            <li>Hands on exposure in ASP.NET, MVC (Core 3.1), C#, HTML5, CSS3, Bootstrap, Web API, jQuery, Angular, WCF, Sql Server, MongoDB, MVC Core abstract logging framework and Serilog, JSNLog</li>
            <li>Contributing as a Project Manager for newly growing account, including client winning in Presales and Post Sales domain</li>
            <li>Experience of handling 2 teams of 10 member as Agile Project Manager in overall product roadmap by translating Agile roadmap into team specific PI planning and sprint planning</li>
            <li>Certified SAFe® Agilist / Agile Transformation Lead who has coached & mentored team members to develop agile capabilities self-organization</li>
            <li>Supported Product Owner at client and organization to keep the backlog communicate updates communicate impediments and maintain release plan(s)</li>
            <li>Expertise in Agile Methodologies like Scrum, Kanban, Hybrid, Extreme Programming</li>
        </ul>
    </div>
    <div class="col-md-3 col-xs-3 col-lg-3 expertiesHighlight">
        <h5 class="compHeader rounded">Area of Experties</h5>
        <ul>
            <li>Architecture and Cloud Architect</li>
            <li>Azure DevOps, AI with Python</li>
            <li>Azure and Amazon Cloud</li>
            <li>Agile Project Management</li>
            <li>Agile SAFe Implementation</li> 
            <li>Product Roadmap Planning </li>
            <li>Coaching & Facilitating </li>
            <li>Requirement Gathering </li>
            <li>Design & Coding </li>
            <li>People Management</li>
        </ul>
    </div>
</div>