<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
        <h2>Academic Details</h2>
        B.Tech. in Electronics & Telecommunication from Netaji Subhash Engineering College, Maulana Abul Kalam Azad University of Technology [formerly West Bengal University of Technology] in 2010 with DGPA 7.83 [CGPA 7.08 (70.8 %)]
    </div>
</div>