<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clientHeader">
        <h2>Clients</h2>
        <div>
            <img data-type="image" class="clientLogo" src="./images/reology.PNG">
        </div>
        <div>
            <img data-type="image" class="clientLogo" src="./images/unilever.PNG">
        </div>
        <div>
            <img data-type="image" class="clientLogo" src="./images/walgreens.PNG">
        </div>
        <div>
            <img data-type="image" class="clientLogo" src="./images/telenor.PNG">
        </div>
        <div>
            <img data-type="image" class="clientLogo" src="./images/universityofcambridge.PNG">
        </div>
    </div>
</div>