<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
        <h2>Employment Details</h2>
        <ul>
            <li>Feb’15 – till date: Accenture, Bangalore as Software Engineer Senior Analyst</li>
            <li>Jul’18 - till date	Client – SAP as a part of Accenture Intelligence Platform</li>
            <li>Sep’17 - Jun’18		Client – Frontier Communications; ISP Broadband Provider</li>
            <li>Sep’16 - Aug’17 	Client – Newspage as a product consumed by companies namely Nestle, PMI, Unilever, PepsiCo</li>
            <li>Nov'15 - Aug’16 	Client – Drugstore and Walgreens chain of Business in Retail domain</li>
            <li>Feb’15 - Nov'15		Client – Telenor in Telecom domain</li>
            <li>Oct’10 – Feb’15: Cognizant Technologies Solutions, Kolkata, West Bengal as Associate</li>
            <li>Apr'11 - Apr’13		Client – Reology (No. 2 Real Estate Company in USA), Travel & Hospitality Vertical, Real Estate Domain</li>
            <li>Apr’13 - Feb’15	Client – Cambridge University, Information Media and Entertainment Vertical, Education Domain</li>
        </ul>
    </div>
</div>