@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 myPicContainer">
                <img data-type="image" src="/myPic.PNG">
            </div>
            <div class="col-xs-0 col-sm-0 col-md-7 col-lg-7 myLogoContainer">
                <img data-type="image" src="/Logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 myBlueBack">
               
            </div>
        </div>
    </div>
