@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">    
    <div class="container">
        <div class="row">
            <div class="name">
                Arindam Dey
                <img data-type="image" src="./images/psm1Logo.png">
                <img data-type="image" src="./images/safePractitionerLogo.png">
                <img data-type="image" src="./images/safeagilistLogo.png">
                <img data-type="image" src="./images/techarchLogo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 myPicContainer">
                <img data-type="image" src="./images/myPic.PNG">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 myLogoContainer">
                <img data-type="image" src="./images/Logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 myBlueBack">
                <a href="https://linkedin.com/in/arindam-dey-78125213/" target="_blank"><img data-type="image" src="./images/linkedin.png"></a>
                <a href="https://www.facebook.com/arindam.dey.921677" target="_blank"><img data-type="image" src="./images/facebook.png"></a>
                <a href="https://twitter.com/biplabhome" target="_blank"><img data-type="image" src="./images/twitter.png"></a>
                <a href="mailto:biplabhome@gmail.com" title="biplabhome@gmail.com"><img data-type="image" src="./images/gmail.png">biplabhome@gmail.com</a>
                <a href="tel:9830609366"><img data-type="image" src="./images/phone.png">9830609366</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Scrum Master, Agile Coach, Agile Project Manager and Technology Architecture</h2>
                <div>
                    Certified Technology Architect Associate; supports Architectural Runway in Full SAFe by Application, Integration, Solution Architecting.
                </div>
                <div>
                    ASP .NET MVC Core with additional skills like Azure DevOps Automation setup, AI with Python, Data Analytics using Splunk
                </div>
                <div>
                    Certified SAFe® Agilist, licenced to set-up Agile framework and guide complete enterprise in Agile transformation for a team of 1000+
                </div>
                <div>
                    Certified Professional Scrum Master1(PSM 1)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Experience</h2>
                <h3><b class="totalexperience"></b> of strong experience in Agile, Architecture, DevOps, Automation, Asp .Net Mvc, Web API, Project Management end to end, Stakeholder Management etc. </h3>
                <div>
                    <b class="totalexperience"></b> relevant in Asp .Net Mvc, Web API, jQuery
                </div>
                <div>
                    <b class="totalexperience"></b> relevant in Agile Scrum, Kanban, SAFe® etc. <b class="scrumExperience"></b> as Scrum Master
                </div>
                <div>
                    <b class="agileCoacgExperience"></b> relevant in Agile Transformation Lead / Agile Coach, Stakeholder and requirement Management
                </div>
                <div>
                    <b class="techArchExperience"></b> relevant in Technical Architecture
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Profile Summary</h2>
                <ul>
                    <li>Rich experience in Application, Integration, Solution Architecture with exposure in requirement gathering, analysis and design</li>
                    <li>Handling 2 teams of 10 member as Agile Project Manager, with 8+ years of rich experience, in overall product roadmap by translating Agile roadmap into team specific PI planning and sprint planning</li>
                    <li>Cerified SAFe® Agilist / Agile Transformation Lead who has coached & mentored team members to develop agile capabilities self-organization</li>
                    <li>Being Certfied Professional Scrum Master 1 (PSM 1) playing scrum master role delequently</li>
                    <li>Supported Product Owner at client and organization to keep the backlog communicate updates communicate impediments and maintain release plan(s)</li>
                    <li>Exceptional in coordinating the delivery of professional services to customers with delivery of multiple project initiatives designed to enhance the services and level of support provided to the client </li>
                    <li>Strong facilitator who facilitates events including Daily Scrums, Sprint Planning, Sprint Review and Sprint Retrospective</li>
                    <li>Resourceful in data processing with Python and build application AI, analyse & forecast client development as per business using Splunk as Automation tool</li>
                    <li>Hands on exposure in ASP.NET, MVC (Core 2.1.2), C#, HTML5, CSS3, Bootstrap, Web API, jQuery, Angular Js, WCF, Sql Server, Mongo Db, MVC Core abstract logging framework and Serilog, JSNLog</li>
                    <li>Hanndson Azure DevOps and Automation Setup with CICD, as part of Azure Admin role</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Employment Details</h2>
                <ul>
                    <li>Feb’15 – till date: Accenture, Bangalore as Software Engineer Senior Analyst</li>
                    <li>Jul’18 - till date	Client – SAP as a part of Accenture Intelligence Platform</li>
                    <li>Sep’17 - Jun’18		Client – Frontier Communications; ISP Broadband Provider</li>
                    <li>Sep’16 - Aug’17 	Client – Newspage as a product consumed by companies namely Nestle, PMI, Unilever, PepsiCo</li>
                    <li>Nov'15 - Aug’16 	Client – Drugstore and Walgreens chain of Business in Retail domain</li>
                    <li>Feb’15 - Nov'15		Client – Telenor in Telecom domain</li>
                    <li>Oct’10 – Feb’15: Cognizant Technologies Solutions, Kolkata, West Bengal as Associate</li>
                    <li>Apr'11 - Apr’13		Client – Reology (No. 2 Real Estate Company in USA), Travel & Hospitality Vertical, Real Estate Domain</li>
                    <li>Apr’13 - Feb’15	Client – Cambridge University, Information Media and Entertainment Vertical, Education Domain</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clientHeader">
                <h2>Clients</h2>
                <div>
                    <img data-type="image" class="clientLogo" src="./images/reology.PNG">
                </div>
                <div>
                    <img data-type="image" class="clientLogo" src="./images/unilever.PNG">
                </div>
                <div>
                    <img data-type="image" class="clientLogo" src="./images/walgreens.PNG">
                </div>
                <div>
                    <img data-type="image" class="clientLogo" src="./images/telenor.PNG">
                </div>
                <div>
                    <img data-type="image" class="clientLogo" src="./images/universityofcambridge.PNG">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Technical Skills</h2>
                <ul>
                    <li>Scrum, Kanban, Extreme Programming. Scrum Master, Agile Transformation Lead</li>
                    <li>ASP.NET, MVC (Core 2.1.2), C#, HTML5, CSS3, Bootstrap, Web API, Jquery, WCF, Sql Server</li>
                    <li>Structured data logger MVC Core abstract logging framework and Serilog</li>
                    <li>Client-Side loging With JSNLog, Serilog and MongoDB integrated</li>
                    <li>Git, Github, SVN, Bitbucket, TFS</li>
                    <li>MOQ, MSTest/Visual Studio, NUnit</li>
                    <li>Azure DevOps Automation</li>
                    <li>AI with Python</li>
                    <li>Data analytics using Splunk as a tool</li>
                    <li>Specialty in Application and Integration Architecture</li>
                    <li>Hands on Solution Architecture</li>
                    <li>Hands on Stakeholder Management, Requirement analysis and design</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2>Certificates</h2>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 resumeHeading">
                Professional Scrum Master (PSM 1) issued by <a href="https://www.scrum.org" target="_blank">https://www.scrum.org</a>
                <img data-type="image" class="certificateLogo" src="./images/psm1.PNG">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 resumeHeading">
                SAFe® 4 Agilist issued by Scaled Inc. <a href="https://scaledagileframework.com" target="_blank">https://scaledagileframework.com</a>
                <img data-type="image" class="certificateLogo" src="./images/safeagilist.PNG">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 resumeHeading">
                SAFe® 4 Parctitioner issued by Scaled Inc. <a href="https://scaledagileframework.com" target="_blank">https://scaledagileframework.com</a>
                <img data-type="image" class="certificateLogo" src="./images/safePractitioner.PNG">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 resumeHeading">
                Technology Architect Associate issued by <a href="https://www.accenture.com/in-en" target="_blank">https://www.accenture.com/in-en</a>
                <img data-type="image" class="certificateLogo" src="./images/techarch.PNG">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Significant Accomplishments</h2>
                <ul>
                    <li>Acknowledged in ACE Award, a milestone in Accenture in Apr’17, which is a team level achievement award for a location among all the accounts and project for zero defect, zero escalation and outstanding team performance</li>
                    <li>Bagged Recognition Points Programme several times for outstanding delivery skil</li>
                    <li>Delivery Excellence Award from client in 2014</li>
                    <li>Star of the Mobile Release and Delivery Excellence Recognition in Jan’16 </li>
                    <li>Innovation Champion of the Account in 2013</li>
                    <li>Increased First Time Right (FTR) measures to 80% and reduced Cycle Time (CT) by 40% with decreased Lead time; delivered using the Agile SAFe methodologies</li>
                    <li>Coordinated multiple medium and small sized projects for SAP as a part of Intelligence Platform serving 100+ client AI and automation through a single platform in a mature onshore/offshore model</li>
                    <li>Recovered a project in trouble as Customer Facing Delivery Manager through measures such as Responsiveness, Architectural corrections, automated white box testing with Veracode in Frontier</li>
                    <li>Mentored and coached the project team on areas such as implementation of pure Scrum and Agile transformation; planned and integrated the work of multiple teams on a project; provided input on team performance and reward</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
                <h2>Academic Details</h2>
                B.Tech. in Electronics & Telecommunication from Netaji Subhash Engineering College, Maulana Abul Kalam Azad University of Technology [formerly West Bengal University of Technology] in 2010 with DGPA 7.83 [CGPA 7.08 (70.8 %)]
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 personalDetails">
                <h2>Personal Details</h2>
                <div>Date of Birth: 1st February, 1988 | Languages Known: English, Bengali and Hindi</div>
                <div>Address: #108, Shri Balaji Ocean, Naranghata, Domsandra Chndapura Road, Bangalore - 560100</div>
            </div>
        </div>
        <div class="container certificateContainer">
            @*<div class="carousel">
                <div class="item a">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4 class="resumeHeading">Technology Architect, Scrum Master, Agile Coach, Agile Project Manager</h4>
                            <div>Agile Coach / Transformation Lead, Scrum Master with specialised technology stack of Asp .Net Mvc</div>
                        </div>
                    </div>
                </div>
                <div class="item b">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h4 class="resumeHeading">scd</h4>
                            <div>rtrytjkyrtewfqgrthryjtrewqertyjhterwrthjghtrthjgtrhgjtgnhrgngrwefrgf dghryhterd</div>
                        </div>
                    </div>
                </div>
                <div class="item c">C</div>
                <div class="item d">D</div>
                <div class="item e">E</div>
                <div class="item f">F</div>
            </div>
            <div class="next">Next</div>
            <div class="prev">Prev</div>*@
        </div>
    </div>
</div>
@*@await Html.PartialAsync("NetworkInfo")
@await Html.PartialAsync("BrowserInfo")*@