@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    @*<div class="container certificateContainer">
        <partial name="CircularCarousel" />
    </div>*@
    @*<div class="container">
        <partial name="SliderPartial" />
    </div>*@
    <div class="container">
        <partial name="MyCoverPartial" />
    </div>
    <div class="container">
        <partial name="ProfilePartial" />
    </div>
    <div class="container">
        <partial name="EmployeeDetailsPartial" />
    </div>
    <div class="container">
        <partial name="ClientPartial" />
    </div>
    <div class="container">
        <partial name="TechnicalskillsPartial" />
    </div>
    <div class="container">
        <partial name="CertificatesPartial" />
    </div>
    <div class="container">
        <partial name="AwardsPartial" />
    </div>
    <div class="container">
        <partial name="AcademicPartial" />
    </div>
    <div class="container">
        <partial name="PersonalDetailsPartial" />
    </div>
</div>
@*<partial name="~/Views/Shared/BrowserInfo.cshtml" />
<partial name="~/Views/Shared/NetworkInfo.cshtml" />
<partial name="~/Views/Shared/Geolocation.cshtml" />*@
