<div class="row">
    <div class="name">
        Arindam Dey
        <img data-type="image" src="./images/psm1Logo.png">
        <img data-type="image" src="./images/safePractitionerLogo.png">
        <img data-type="image" src="./images/safeagilistLogo.png">
        <img data-type="image" src="./images/techarchLogo.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 myPicContainer">
        <img data-type="image" src="./images/myPic.PNG">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 myLogoContainer">
        <img data-type="image" src="./images/Logo.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 myBlueBack">
        <a href="https://linkedin.com/in/arindam-dey-78125213/" target="_blank"><img data-type="image" src="./images/linkedin.png"></a>
        <a href="https://www.facebook.com/arindam.dey.921677" target="_blank"><img data-type="image" src="./images/facebook.png"></a>
        <a href="https://twitter.com/biplabhome" target="_blank"><img data-type="image" src="./images/twitter.png"></a>
        <a href="mailto:biplabhome@gmail.com" title="biplabhome@gmail.com"><img data-type="image" src="./images/gmail.png">biplabhome@gmail.com</a>
        <a href="tel:9830609366"><img data-type="image" src="./images/phone.png">9830609366</a>
    </div>
</div>