<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 personalDetails">
        <h2>Personal Details</h2>
        <div>Date of Birth: 1st February, 1988 | Languages Known: English, Bengali and Hindi</div>
        <div>Address: #108, Shri Balaji Ocean, Naranghata, Domsandra Chndapura Road, Bangalore - 560100</div>
    </div>
</div>