<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
        <h2>Scrum Master, Agile Coach, Agile Project Manager and Technology Architecture</h2>
        <div>
            Certified Technology Architect Associate; supports Architectural Runway in Full SAFe by Application, Integration, Solution Architecting.
        </div>
        <div>
            ASP .NET MVC Core with additional skills like Azure DevOps Automation setup, AI with Python, Data Analytics using Splunk
        </div>
        <div>
            Certified SAFe® Agilist, licenced to set-up Agile framework and guide complete enterprise in Agile transformation for a team of 1000+
        </div>
        <div>
            Certified Professional Scrum Master1(PSM 1)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
        <h2>Experience</h2>
        <h3><b class="totalexperience"></b> of strong experience in Agile, Architecture, DevOps, Automation, Asp .Net Mvc, Web API, Project Management end to end, Stakeholder Management etc. </h3>
        <div>
            <b class="totalexperience"></b> relevant in Asp .Net Mvc, Web API, jQuery
        </div>
        <div>
            <b class="totalexperience"></b> relevant in Agile Scrum, Kanban, SAFe® etc. <b class="scrumExperience"></b> as Scrum Master
        </div>
        <div>
            <b class="agileCoacgExperience"></b> relevant in Agile Transformation Lead / Agile Coach, Stakeholder and requirement Management
        </div>
        <div>
            <b class="techArchExperience"></b> relevant in Technical Architecture
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
        <h2>Profile Summary</h2>
        <ul>
            <li>Rich experience in Application, Integration, Solution Architecture with exposure in requirement gathering, analysis and design</li>
            <li>Handling 2 teams of 10 member as Agile Project Manager, with 8+ years of rich experience, in overall product roadmap by translating Agile roadmap into team specific PI planning and sprint planning</li>
            <li>Cerified SAFe® Agilist / Agile Transformation Lead who has coached & mentored team members to develop agile capabilities self-organization</li>
            <li>Being Certfied Professional Scrum Master 1 (PSM 1) playing scrum master role delequently</li>
            <li>Supported Product Owner at client and organization to keep the backlog communicate updates communicate impediments and maintain release plan(s)</li>
            <li>Exceptional in coordinating the delivery of professional services to customers with delivery of multiple project initiatives designed to enhance the services and level of support provided to the client </li>
            <li>Strong facilitator who facilitates events including Daily Scrums, Sprint Planning, Sprint Review and Sprint Retrospective</li>
            <li>Resourceful in data processing with Python and build application AI, analyse & forecast client development as per business using Splunk as Automation tool</li>
            <li>Hands on exposure in ASP.NET, MVC (Core 2.1.2), C#, HTML5, CSS3, Bootstrap, Web API, jQuery, Angular Js, WCF, Sql Server, Mongo Db, MVC Core abstract logging framework and Serilog, JSNLog</li>
            <li>Hanndson Azure DevOps and Automation Setup with CICD, as part of Azure Admin role</li>
        </ul>
    </div>
</div>