<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resumeHeading">
        <h2>Technical Skills</h2>
        <ul>
            <li>Scrum, Kanban, Extreme Programming. Scrum Master, Agile Transformation Lead</li>
            <li>ASP.NET, MVC (Core 2.1.2), C#, HTML5, CSS3, Bootstrap, Web API, Jquery, WCF, Sql Server</li>
            <li>Structured data logger MVC Core abstract logging framework and Serilog</li>
            <li>Client-Side loging With JSNLog, Serilog and MongoDB integrated</li>
            <li>Git, Github, SVN, Bitbucket, TFS</li>
            <li>MOQ, MSTest/Visual Studio, NUnit</li>
            <li>Azure DevOps Automation</li>
            <li>AI with Python</li>
            <li>Data analytics using Splunk as a tool</li>
            <li>Specialty in Application and Integration Architecture</li>
            <li>Hands on Solution Architecture</li>
            <li>Hands on Stakeholder Management, Requirement analysis and design</li>
        </ul>
    </div>
</div>