<br>
<div class="row container">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        Numerology
        <div class="row">     
            <div class="col-md-12 col-xs-12 col-lg-12">
                <input (keyup)="selectcalculate($event)" />
            </div>
        </div>
        <br/>
        <div class="row">     
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <mat-grid-list cols="2" rowHeight="20px" rowWidth="100px">
                    <mat-grid-tile>Chero</mat-grid-tile>
                    <mat-grid-tile>New System</mat-grid-tile>
                    <mat-grid-tile>{{totalChero}}</mat-grid-tile>
                    <mat-grid-tile>{{totalNew}}</mat-grid-tile>
                  </mat-grid-list>
            </div>
        </div>
    </div>    
</div>