<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Code Repositories</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <ul>
            <li>Very Simple example of WebApi implementing Cloud Native Architecture having capability to handle 10000 concurrent user with degree of parallelism having capability of controlling Task adhering KISS and DRY architectural principles balancing seven architectural concerns giving priority to Performance and Scalability, Extensibility over others. Since Cloud native Availability also assured. Using SOLID, Saga, Aggregator Root [AR], CQRS[Command Query Responsibility Segregation], Repository, DI[Dependency Injection], IOC pattern using EntityFramework Core[Code first], Swagger, Automapper in ASP .Net Core 3.1
               <div>
                    <a href = "https://github.com/arindamdeyofficial/ArchitecturalShowcase/">
                        https://github.com/arindamdeyofficial/ArchitecturalShowcase
                    </a>
                </div>
            </li>
            <li>Solid principle
                <div>
                    <a href = "https://github.com/arindamdeyofficial/S.O.L.I.D.">
                    https://github.com/arindamdeyofficial/S.O.L.I.D.
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>