<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="compHeader">
                Significant Acomplishments!
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-lg-12">
                    <mat-card>
                        <mat-card-actions *ngFor="let item of acomplishment">
                            {{item.keyPoint}}
                            <div class="indent" *ngFor="let award of item.awardList">{{award}}</div>
                        </mat-card-actions>
                    </mat-card> 
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>
