<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Significant Acomplishments!</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <ul>
            <li>Acknowledged in ACE Award, a milestone in Accenture in Apr’17, which is a achievement award for a location among all the accounts and project for zero defect, zero escalation and outstanding team performance</li>
            <li>Bagged Recognition Points Programme several times for outstanding delivery skill</li>
            <li>
                <ul>Won:
                    <li>Delivery Excellence Award from client in 2014</li>
                    <li>Star of the Mobile Release and Delivery Excellence Recognition in Jan’16</li>
                    <li>Innovation Champion of the Account in 2013</li>
                    <li>Innovation Champion of the Account in 2013</li>
                 </ul> 
            </li>
            <li>Increased First Time Right (FTR) measures to 80% and reduced Cycle Time (CT) by 40% with decreased Lead time; delivered using the Agile SAFe methodologies</li>
            <li>Coordinated multiple medium and small sized projects for SAP as a part of Intelligence Platform serving 100+ client AI and automation through a single platform in a mature onshore/offshore model</li>
            <li>Recovered a project in trouble as Customer Facing Delivery Manager through measures such as Responsiveness, Architectural corrections, automated white box testing with Veracode in Frontier</li>
            <li>Mentored and coached the project team on areas such as implementation of pure Scrum and Agile transformation; planned and integrated the work of multiple teams on a project; provided input on team performance and reward</li>  
        </ul>
    </div>
</div>